<br>
<br>
<br>
<br>
<ul class="inline">
<% @tasks.each do |task| %>
  <li>
    <%= task.name %>
  </li>
<% if task.done? %>
  <li><i class="fa fa-check-square-o" aria-hidden="true"></i></li>
<% else %>
  <%= simple_form_for [task] do |f| %>
            <%= f.hidden_field :done, value: true %>
            <%= f.submit "Mark task as done", class: "btn btn-primary" %>
            <% end %>
  <li><i class="fa fa-square-o" aria-hidden="true"></i></li>
<% end %>
  <p>
    <li>  <%= task.description %></li>
    <li>  <%= task.date %></li>
    <li><%= link_to task.name, task_path(task) %></li>
  </p>
<% end %>
  </ul>


