<div class="text-center">

  <h1>Name of the app</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <% if current_user %>

  <%= simple_form_for [@task] do |f| %>
  <%= f.error_notification %>
  <%= f.input :date, label: "When is this task due?", selected: Date.today,  order: [:day, :month, :year]%>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit "Make new task", class: "btn btn-primary" %>
  <% end %>



  <% else %>

  <h2>Sign up, you won't regret it!</h2>

  <% end %>

</div>
