<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

Test hallo!

haha
e

<br>
<% @tasks.each do |task| %>

<h2><%= task.name %></h2>
<h2>  <%= task.description %></h2>
<% end %>
<br>
hee


<%= link_to "Sign up here", new_user_registration_path  %>

<br>

<%= link_to "Sign in here", new_user_session_path  %>
<br>

<%= link_to destroy_user_session_path, method: :delete do %>
  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
<% end %>

<br>

<%= link_to "Edit your account settings", edit_user_registration_path  %>
he
ee

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

ajaj
haha
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
